// caratteristica h3 titoli
$color_text: white;
// colore sfondo
$color-bg:#0282f9;
// caratteristica larghezza e display dei contenitori 
$width_blocchi:80%;
$margin_blocchi:auto;
$display_flex:flex;
$specific_content: space-between;
$specific_align:center;